.aws-btn {
  --slider-height-percentage: 35%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #1dd92c;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #6a6a6a;
  --control-bullet-active-color: #6a6a6a;
  --loader-bar-color: #1dd92c;
  --loader-bar-height: 6px;
}
